h1{
  color: #FFFFFF;
  background-color: #4287f5;
}

h2{
  color: #ffffff;
  background-color: #FFFF00
}

h3{
  color: #00FF00;
  background-color: #0000FF;
}
a {
 color: #ff0000;
 text-decoration: none;
}

p{
 color: #ff00ff;
 background-color: #00ffff;
}

#specialid {
  color: #00FF00;
  background-color: #000000;
}

#divexample {
  color: #0000FF;
background-color: #FFFF00;
}

a:hover {
 color: #FFFF00;
 text-decoration: underline;
}

.spanstyle{
  color: #00FF00;
}

a:visited {
 color: #00FF00;

 #divexample {
   color: #0000FF;
 background-color: #FFFF00;
 }

.specialp {
 color: #00FF00;
 background-color: #FFFFFF;

}

footer{
  color: #ffffff;
  background-color: #FF0000;
